

*~
/.DS_Store
/local_example
/local_variable_test.rb
/local_variable_test2.rb
/log
/nendo-0.6.5.gem
/nendo-0.6.7.gem
/nendo-0.6.8.gem
/nendo-0.7.0.gem
/nendo-0.7.1.gem
/gemfiles
/pkg
/t2.rb
/t3.rb
/t4.rb
/t5.rb
/t6.rb
/t7.rb
/t8.rb
/test.log
/test.record
/test2.log
/test3.log
sample/t.nnd
t.*
